useDynLib(whaleRidgeFindR, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom("Rcpp","evalCpp")
importFrom("graphics","plot","points")
importFrom("stats","approx","filter","quantile","sd")
importFrom("utils","head")
import("imager")

export(constrainSizeFinImage)
export(decodePath)
export(distanceToRef)
export(distanceToRefParallel)
export(encodePath)
export(extractAnnulus)
export(extractEdgeMap)
export(hashFromImage)
export(hashFromImageAndEdgeCoord)
export(traceFromImage)
